@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-cyan-50: hsl(168, 34%, 41%);
  --dark-blue: hsl(198, 62%, 26%);
  --desat-blue: hsl(212, 27%, 19%);
  --grayish-blue-50: hsl(213, 9%, 39%);
  --grayish-blue-20: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  line-height: 1.5;
}

header {
  background: url(./images/desktop/image-header.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3ebfff;
  height: 60vh;
  max-width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  gap: 3rem;
  width: 90%;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

.navlist {
  display: none;
}

.menu img {
  cursor: pointer;
}

.header-intro {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}

.header-intro h1 {
  padding: 2rem 0 0.5rem;
  letter-spacing: 0.5rem;
}

.section-one {
  max-width: auto;
  display: grid;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
}

.transform-details,
.standout-details {
  text-align: center;
  padding: 2rem 2rem 3rem;
  max-width: 390px;
  margin: 0 auto;
}
.transform-details h2,
.standout-details h2 {
  color: var(--desat-blue);
  font-weight: 900;
  padding: 0.5rem 2rem;
}

.transform-details p,
.standout-details p {
  color: var(--grayish-blue);
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1rem;
  color: var(--desat-blue);
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  width: 125px;
  margin: 0 auto;
}

.transform-details h3::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 0;
  z-index: -20;
  right: 0;
  border-radius: 10px;
}

.standout-details h3::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: var(--soft-red);
  position: absolute;
  bottom: 0;
  z-index: -20;
  right: 0;
  border-radius: 10px;
}

section:nth-of-type(1) {
  grid-area: one;
}
section:nth-of-type(2) {
  grid-area: two;
}
section:nth-of-type(3) {
  grid-area: three;
}
section:nth-of-type(4) {
  grid-area: four;
}
section:nth-of-type(5) {
  grid-area: five;
}
section:nth-of-type(6) {
  grid-area: six;
}

.transform,
.standout {
  width: 100%;
}
.standout {
  margin-top: -0.2rem;
}

.graphic-design {
  background: url(./images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 80px 0;
  color: var(--dark-cyan);
}
.photography {
  background: url(./images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 80px 0;
  color: var(--dark-blue);
}

.img-details {
  text-align: center;
  padding: 8rem 0 0;
  max-width: 350px;
  margin: 0 auto;
}
.img-details h2 {
  padding: 8rem 0 1rem;
  text-transform: capitalize;
}
p {
  font-family: 'Barlow', sans-serif;
}

@media (min-width: 770px) {
  header {
    height: 70vh;
  }
  .section-one {
    max-width: auto;
    display: grid;
    grid-template-areas:
      'two one'
      'three four'
      'five six';
  }
  .graphic-design {
    background: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    margin-top: -0.5rem;
  }
  .photography {
    background: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    margin-top: -0.5rem;
  }

  .transform-details,
  .standout-details {
    text-align: left;
    padding: 0 1rem;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .transform-details h2,
  .standout-details h2 {
    color: var(--desat-blue);
    font-weight: 900;
    padding: 0.5rem 2rem 0 0;
  }

  h3 {
    margin: 0;
  }
}
