@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-cyan-50: hsl(168, 34%, 41%);
  --dark-blue: hsl(198, 62%, 26%);
  --desat-blue: hsl(212, 27%, 19%);
  --grayish-blue-50: hsl(213, 9%, 39%);
  --grayish-blue-20: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  line-height: 1.5;
}

header {
  background: url(./images/desktop/image-header.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3ebfff;
  height: 60vh;
  max-width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  width: 90%;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

.navlist {
  display: none;
}

.menu img {
  cursor: pointer;
}

.nav-menu {
  position: absolute;
  width: 95%;
  background-color: white;
  top: 80px;
  padding: 1rem;
  height: 30vh;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.3s;
}

.nav-menu.display {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  right: 0;
  border-left: 60px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid rgb(255, 255, 255);
}

.nav-menu__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  font-family: 'Barlow', sans-serif;
  color: var(--grayish-blue-20);
}

.nav-menu__items .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-weight: 900;
  background-color: var(--yellow);
  padding: 0.5rem;
  border-radius: 20px;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Fraunces', serif;
}

.header-intro {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}

.header-intro h1 {
  padding: 2rem 0 0.5rem;
  letter-spacing: 0.5rem;
}

.section-one {
  max-width: auto;
  display: grid;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
}

.transform-details,
.standout-details {
  text-align: center;
  padding: 2rem 2rem 3rem;
  max-width: 390px;
  margin: 0 auto;
}
.transform-details h2,
.standout-details h2 {
  color: var(--desat-blue);
  font-weight: 900;
  padding: 0.5rem 2rem;
}

.transform-details p,
.standout-details p {
  color: var(--grayish-blue);
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1rem;
  color: var(--desat-blue);
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  width: 125px;
  margin: 0 auto;
}

.transform-details h3::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 0;
  z-index: -20;
  right: 0;
  border-radius: 10px;
}

.standout-details h3::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: var(--soft-red);
  position: absolute;
  bottom: 0;
  z-index: -20;
  right: 0;
  border-radius: 10px;
}

section:nth-of-type(1) {
  grid-area: one;
}
section:nth-of-type(2) {
  grid-area: two;
}
section:nth-of-type(3) {
  grid-area: three;
}
section:nth-of-type(4) {
  grid-area: four;
}
section:nth-of-type(5) {
  grid-area: five;
}
section:nth-of-type(6) {
  grid-area: six;
}

.transform,
.standout {
  width: 100%;
}
.standout {
  margin-top: -0.2rem;
}

.graphic-design {
  background: url(./images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 80px 0;
  color: var(--dark-cyan);
}
.photography {
  background: url(./images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 80px 0;
  color: var(--dark-blue);
}

.img-details {
  text-align: center;
  padding: 8rem 0 0;
  max-width: 350px;
  margin: 0 auto;
}
.img-details h2 {
  padding: 8rem 0 1rem;
  text-transform: capitalize;
}
p {
  font-family: 'Barlow', sans-serif;
}

.testimonials {
  margin: 0 auto;
}

.testimonials h2 {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3rem;
  padding: 5rem 0 2rem;
  text-align: center;
}

.split {
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  max-width: 340px;
}

.center img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.center p {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 1.1rem;
  padding: 2rem 0;
  margin: 0 auto;
}

.center h3 {
  color: var(--desat-blue);
  text-transform: capitalize;
}

.center h4 {
  color: var(--grayish-blue);
  font-family: 'Barlow', sans-serif;
  padding: 0.5rem 0;
}

.grid-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-img img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #91d3c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 1rem;
}
.footer-links {
  display: flex;
  gap: 4rem;
  font-family: 'Barlow', sans-serif;
  color: var(--dark-cyan-50);
  padding: 1rem;
}

.socials {
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

@media (min-width: 770px) {
  header {
    height: 70vh;
  }

  .menu {
    display: none;
  }

  .navlist {
    display: block;
  }

  .nav-items {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: white;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
    font-weight: 900;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    border-radius: 20px;
    width: 100px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
  }

  .btn:hover {
    background-color: #3ebfff;
    color: white;
    box-shadow: 0px 2px 5px 0 #97d2f0;
  }

  .section-one {
    max-width: auto;
    display: grid;
    grid-template-areas:
      'two one'
      'three four'
      'five six';
  }

  .graphic-design {
    background: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    margin-top: -0.5rem;
  }
  .photography {
    background: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    margin-top: -0.5rem;
  }

  .transform-details,
  .standout-details {
    text-align: left;
    padding: 0 1rem;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .transform-details h2,
  .standout-details h2 {
    color: var(--desat-blue);
    font-weight: 900;
    padding: 0.5rem 2rem 0 0;
  }
  h3 {
    margin: 0;
  }
}
@media (min-width: 1020px) {
  header {
    background-size: contain;
  }

  .arrow {
    padding: 6rem 0 0;
    height: 300px;
    width: 60px;
  }
  .split {
    flex-direction: row;
    padding: 2rem 3rem;
  }
  .grid-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-links {
    font-size: 1.2rem;
  }
}
